<div class="jumbotron">
<h2>Welcome to Arduino UNO Sensors Land</h2>

<h3>Click one of the action buttons to start controlling the sensor.</h3>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Sensors table</h2></div>
    <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Pin</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Red LED</td>
      <td>A single LED sensor</td>
      <td>99</td>
      <td><button type="button" class="btn-lg btn-success">Show</button>
          <button type="button" class="btn-lg btn-primary">Edit</button>
          <button type="button" class="btn-lg btn-danger">Delete</button>
      </td>
    </tr>
    </table>
  </div>
</div>
